@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

.box {
    position: relative;
    width: 200px;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
}


.box .content {
    position: relative;
    border-radius: 35px;
    width: 100%;
    height: 100%;
    background: #1F2122;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box .content .percent {
    position: relative;
    width: 150px;
    height: 150px;
}

.box .content .percent::before {
    content: attr(data-text);
    position: absolute;
    inset: 20px;
    background: linear-gradient(rgba(236, 96, 144, 0.78), #ec6090, #ec6090);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.75rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.box .content .percent svg {
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}

.box .content .percent svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 3;
    stroke: rgb(86, 86, 86);
    transform: translate(5px, 5px);
}

.box .content .percent svg circle:nth-child(2) {
    stroke: #ec6090;
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.box .content .percent .dot {
    position: absolute;
    inset: 5px;
    z-index: 10;
    animation: animateDot 2s linear forwards;
}

@keyframes animateDot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(calc(3.6deg * var(--num)));
    }
}

.box .content .percent .dot::before {
    content: '';
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    background: #ec6090;
    border-radius: 50%;
}

.box .content .number {
    position: relative;
    inset: 0;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
}

.box .content .number h2 {
    font-size: 2rem;
    color: #ffffff;
}

.box .content .number h2 span {
    font-weight: 300;
    font-size: 1.5rem;
}